.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.select, .input {
  width: 90%;
  text-align: center;
  height: 3rem;
  border-radius: 1rem;
}

.delete {
  background-color: transparent;
  border: 1px solid var(--color-grey-secondary);
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: large;
  grid-column: 3 / 4;
}
