.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.options {
  margin-bottom: 1.5%;
  display: flex;
  gap: 1%;
  align-items: center;
  justify-content: center;
}

.box {
  margin-right: 1%;
}

.input {
  width: 10vw;
  text-align: center;
  height: 3rem;
  border-radius: 1rem;
}

.confirm {
  background-color: transparent;
  border: 1px solid var(--color-grey-secondary);
  font-size: normal;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5%;
}
